# Configuration file

####################
# feature control
####################

"feature control" {
    B:"Control Vanilla Mobs"=false
    I:"Gorgomite Swarm Limit"=10
    S:"Group Biome Types"=DESERT
    S:"Group Dimensions"=0
    B:"Joust Natural Despawning"=true
    B:"Joust Peaceful Spawning"=true
}


####################
# item ids
####################

"item ids" {
    I:"Amber Cake ID"=24057
    I:"Cooked Joust Meat ID"=24053
    I:"Desert Spawn Egg ID"=24050
    I:"Mudshot Charge ID"=24054
    I:"Mudshot Scepter ID"=24056
    I:"Raw Joust Meat ID"=24052
    I:"Scythe Scepter ID"=24055
    I:"Throwing Scythe ID"=24051
}


####################
# mob control
####################

"mob control" {
    S:"Clink Stat Defense Boost"=GROUP
    S:"Crusk Stat Defense Boost"=GROUP
    S:"CryptZombie Stat Defense Boost"=GROUP
    S:"Erepede Stat Defense Boost"=GROUP
    S:"Gorgomite Stat Defense Boost"=GROUP
    S:"Group Stat Damage Multiplier"=1.0
    S:"Group Stat Defense Boost"=0
    S:"Group Stat Defense Multiplier"=1.0
    S:"Group Stat Effect Multiplier"=1.0
    S:"Group Stat Haste Multiplier"=1.0
    S:"Group Stat Speed Multiplier"=1.0
    S:"Joust Stat Defense Boost"=GROUP
    S:"JoustAlpha Stat Defense Boost"=GROUP
    S:"Manticore Stat Defense Boost"=GROUP
}


####################
# mob control - general
####################

"mob control - general" {
    S:"Clink Custom Drops"=
    B:"Clink Enable Default Drops"=true
    B:"Clink Enabled"=true
    S:"Crusk Custom Drops"=
    B:"Crusk Enable Default Drops"=true
    B:"Crusk Enabled"=true
    S:"CryptZombie Custom Drops"=
    B:"CryptZombie Enable Default Drops"=true
    B:"CryptZombie Enabled"=true
    S:"Erepede Custom Drops"=
    B:"Erepede Enable Default Drops"=true
    B:"Erepede Enabled"=true
    S:"Gorgomite Custom Drops"=
    B:"Gorgomite Enable Default Drops"=true
    B:"Gorgomite Enabled"=true
    S:"Joust Custom Drops"=
    B:"Joust Enable Default Drops"=true
    B:"Joust Enabled"=true
    S:"JoustAlpha Custom Drops"=
    B:"JoustAlpha Enable Default Drops"=true
    B:"JoustAlpha Enabled"=true
    S:"Manticore Custom Drops"=
    B:"Manticore Enable Default Drops"=true
    B:"Manticore Enabled"=true
}


####################
# mob control - spawning
####################

"mob control - spawning" {
    I:"Clink Spawn Area Limit"=5
    S:"Clink Spawn Biome Types"=GROUP
    I:"Clink Spawn Chance"=50
    S:"Clink Spawn Dimensions"=GROUP
    B:"Clink Spawn Enabled"=true
    I:"Clink Spawn Group Size Max"=1
    I:"Clink Spawn Group Size Min"=1
    S:"Clink Spawn Type"=MONSTER
    I:"Clink Spawn Weight"=6
    I:"Crusk Spawn Area Limit"=2
    S:"Crusk Spawn Biome Types"=GROUP
    I:"Crusk Spawn Chance"=50
    S:"Crusk Spawn Dimensions"=GROUP
    B:"Crusk Spawn Enabled"=true
    I:"Crusk Spawn Group Size Max"=1
    I:"Crusk Spawn Group Size Min"=1
    S:"Crusk Spawn Type"=MONSTER
    I:"Crusk Spawn Weight"=2
    I:"CryptZombie Spawn Area Limit"=5
    S:"CryptZombie Spawn Biome Types"=GROUP
    I:"CryptZombie Spawn Chance"=50
    S:"CryptZombie Spawn Dimensions"=GROUP
    B:"CryptZombie Spawn Enabled"=true
    I:"CryptZombie Spawn Group Size Max"=1
    I:"CryptZombie Spawn Group Size Min"=1
    S:"CryptZombie Spawn Type"=MONSTER
    I:"CryptZombie Spawn Weight"=8
    I:"Erepede Spawn Area Limit"=3
    S:"Erepede Spawn Biome Types"=GROUP
    I:"Erepede Spawn Chance"=50
    S:"Erepede Spawn Dimensions"=GROUP
    B:"Erepede Spawn Enabled"=true
    I:"Erepede Spawn Group Size Max"=1
    I:"Erepede Spawn Group Size Min"=1
    S:"Erepede Spawn Type"=MONSTER
    I:"Erepede Spawn Weight"=4
    I:"Gorgomite Spawn Area Limit"=20
    S:"Gorgomite Spawn Biome Types"=GROUP
    I:"Gorgomite Spawn Chance"=50
    S:"Gorgomite Spawn Dimensions"=GROUP
    B:"Gorgomite Spawn Enabled"=true
    I:"Gorgomite Spawn Group Size Max"=1
    I:"Gorgomite Spawn Group Size Min"=1
    S:"Gorgomite Spawn Type"=MONSTER
    I:"Gorgomite Spawn Weight"=6
    I:"Joust Spawn Area Limit"=5
    S:"Joust Spawn Biome Types"=GROUP
    I:"Joust Spawn Chance"=50
    S:"Joust Spawn Dimensions"=GROUP
    B:"Joust Spawn Enabled"=true
    I:"Joust Spawn Group Size Max"=1
    I:"Joust Spawn Group Size Min"=1
    S:"Joust Spawn Type"=CREATURE
    I:"Joust Spawn Weight"=6
    I:"JoustAlpha Spawn Area Limit"=2
    S:"JoustAlpha Spawn Biome Types"=GROUP
    I:"JoustAlpha Spawn Chance"=50
    S:"JoustAlpha Spawn Dimensions"=GROUP
    B:"JoustAlpha Spawn Enabled"=true
    I:"JoustAlpha Spawn Group Size Max"=1
    I:"JoustAlpha Spawn Group Size Min"=1
    S:"JoustAlpha Spawn Type"=CREATURE
    I:"JoustAlpha Spawn Weight"=2
    I:"Manticore Spawn Area Limit"=10
    S:"Manticore Spawn Biome Types"=ALL
    I:"Manticore Spawn Chance"=50
    S:"Manticore Spawn Dimensions"=GROUP
    B:"Manticore Spawn Enabled"=true
    I:"Manticore Spawn Group Size Max"=2
    I:"Manticore Spawn Group Size Min"=1
    S:"Manticore Spawn Type"=MONSTER
    I:"Manticore Spawn Weight"=12
}


####################
# mob control - stats
####################

"mob control - stats" {
    S:"Clink Stat Damage Multiplier"=GROUP
    S:"Clink Stat Defense Multiplier"=GROUP
    S:"Clink Stat Effect Multiplier"=GROUP
    S:"Clink Stat Haste Multiplier"=GROUP
    S:"Clink Stat Speed Multiplier"=GROUP
    S:"Crusk Stat Damage Multiplier"=GROUP
    S:"Crusk Stat Defense Multiplier"=GROUP
    S:"Crusk Stat Effect Multiplier"=GROUP
    S:"Crusk Stat Haste Multiplier"=GROUP
    S:"Crusk Stat Speed Multiplier"=GROUP
    S:"CryptZombie Stat Damage Multiplier"=GROUP
    S:"CryptZombie Stat Defense Multiplier"=GROUP
    S:"CryptZombie Stat Effect Multiplier"=GROUP
    S:"CryptZombie Stat Haste Multiplier"=GROUP
    S:"CryptZombie Stat Speed Multiplier"=GROUP
    S:"Erepede Stat Damage Multiplier"=GROUP
    S:"Erepede Stat Defense Multiplier"=GROUP
    S:"Erepede Stat Effect Multiplier"=GROUP
    S:"Erepede Stat Haste Multiplier"=GROUP
    S:"Erepede Stat Speed Multiplier"=GROUP
    S:"Gorgomite Stat Damage Multiplier"=GROUP
    S:"Gorgomite Stat Defense Multiplier"=GROUP
    S:"Gorgomite Stat Effect Multiplier"=GROUP
    S:"Gorgomite Stat Haste Multiplier"=GROUP
    S:"Gorgomite Stat Speed Multiplier"=GROUP
    S:"Joust Stat Damage Multiplier"=GROUP
    S:"Joust Stat Defense Multiplier"=GROUP
    S:"Joust Stat Effect Multiplier"=GROUP
    S:"Joust Stat Haste Multiplier"=GROUP
    S:"Joust Stat Speed Multiplier"=GROUP
    S:"JoustAlpha Stat Damage Multiplier"=GROUP
    S:"JoustAlpha Stat Defense Multiplier"=GROUP
    S:"JoustAlpha Stat Effect Multiplier"=GROUP
    S:"JoustAlpha Stat Haste Multiplier"=GROUP
    S:"JoustAlpha Stat Speed Multiplier"=GROUP
    S:"Manticore Stat Damage Multiplier"=GROUP
    S:"Manticore Stat Defense Multiplier"=GROUP
    S:"Manticore Stat Effect Multiplier"=GROUP
    S:"Manticore Stat Haste Multiplier"=GROUP
    S:"Manticore Stat Speed Multiplier"=GROUP
}


